<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>new service</title>
</head>
<body>
    <h1>new service</h1>
    <form method='post'>
        <label>Ten</label>
        <input type="text" name="name" value='Dinh Quy'>

        <label>yob</label>
        <input type="text" name="yob" value = '1998'>
        
        <label>address</label>
        <input type="text" name="address" value='Tran Duy Hung'>

        <button type='submit'>gửi</button>
        <br>
        <label>Gender</label>
        <input type="radio"/>Nam
        <input type="radio"/>Nữ
    </form>
</body>
</html>